<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">

    <h1 class="center-align">List-y-List</h1>
    <h5 class="center-align"><%= button_to "Create New List", new_list_path, method: "get", class: "btn btn-large center" %></h5>
      <ol class="list_list hoverable collection">
        <% @lists.each do |list| %>
          <li class="collection-item"><%= link_to list.title, list_path(list) %> - <%= list.description %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
