<div class="container">
  <%= button_to "Create New List", new_list_path, method: "get", class: "btn btn-large" %>
  <div>
    <ol class="list_list hoverable">
      <% @lists.each do |list| %>
        <li><%= link_to list.title, list_path(list) %> - <%= list.description %></li>
      <% end %>
    </ol>
  </div>
</div>
