<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <ul>
          <li class="col s6 container">
            <div class="input-field nav-search-input row">
              <label for="search_bar" class="s-12" id="searchlabel">Search Tasks</label>
              <input id="search_bar" type="text" class="validate">
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
