<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <a href="/lists" class="brand-logo center">List-y-List</a>
        <ul>
          <li class="col s6 container">

          </li>
        </ul>
      </div>
        <ul id=" dropdown1" class="dropdown-content">
          <li><%= link_to "Lists", lists_path %>HELLO</li>
          <li class="divider"></li>
          <li><%= link_to "All Tasks Ever", tasks_path %></li>
        </ul>
    </nav>
  </div>
