.list_buttons {
  border: 2px solid black;
}

.hidden {
  display: none;
}

.flash_success {
  background-color: green;
  text-align: center;
}

.flash_danger {
  background-color: red;
  text-align: center;
}
